flows.json
[
    {
        "id": "63a05d3097205bcd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e81d1086d5eb5c55",
        "type": "mqtt-broker",
        "name": "MQTT Broker local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3719e255b2b14210",
        "type": "inject",
        "z": "63a05d3097205bcd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d001fcb3bfbe922c",
        "type": "mqtt in",
        "z": "63a05d3097205bcd",
        "name": "",
        "topic": "home",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81d1086d5eb5c55",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "d4e8035d67cb6a32"
            ]
        ]
    },
    {
        "id": "89d0a4bd7234afaa",
        "type": "mqtt out",
        "z": "63a05d3097205bcd",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "d4e8035d67cb6a32",
        "type": "debug",
        "z": "63a05d3097205bcd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    }
]