SmartDoorbell.json
[
    {
        "id": "c85c8003578c92e6",
        "type": "tab",
        "label": "MQTT manage",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b389d227e32c6bfb",
        "type": "tab",
        "label": "Alexa",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3468f95594a76fb5",
        "type": "tab",
        "label": "Log Actions",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b0dc19f6d83de1d",
        "type": "tab",
        "label": "UI Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79fe84cfb68e37d5",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "544be3ea3584d02b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#713dff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#713dff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#713dff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a989ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#713dff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "702ab0b5f76bbe7a",
        "type": "ui_group",
        "name": "Manage Features",
        "tab": "25a6749ce5d4e430",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": "nightmode"
    },
    {
        "id": "124fd84eaf0f984d",
        "type": "ui_group",
        "name": "CameraView",
        "tab": "c593288f9e7f98f6",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": true,
        "className": ""
    },
    {
        "id": "30fe2fdb15b54ae3",
        "type": "ui_group",
        "name": "Gestion des empreintes",
        "tab": "25a6749ce5d4e430",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "49a94d53f452082e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25a6749ce5d4e430",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d8ce519417b5cd60",
        "type": "ui_group",
        "name": "Current User",
        "tab": "25a6749ce5d4e430",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c07d094777037409",
        "type": "postgreSQLConfig",
        "name": "SmartDoorbell_DB",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "SmartDoorbell",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "9ea5b1211ce1f538",
        "type": "ui_group",
        "name": "Table",
        "tab": "b840f930a6c2e677",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b840f930a6c2e677",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6b800beeb703abcb",
        "type": "ui_group",
        "name": "Table",
        "tab": "9326f74d2ff7fe25",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9326f74d2ff7fe25",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2a23d1f375db2f69",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "457443a7ef00c356",
        "type": "ui_group",
        "name": "Table",
        "tab": "2a23d1f375db2f69",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "591bf29180ec05c6",
        "type": "ui_group",
        "name": "Command",
        "tab": "2a23d1f375db2f69",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ea85db8283d411b",
        "type": "ui_group",
        "name": "Data",
        "tab": "2a23d1f375db2f69",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54b2305af4b37298",
        "type": "ui_group",
        "name": "Row",
        "tab": "2a23d1f375db2f69",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d61766583efd1c8e",
        "type": "ui_group",
        "name": "Filter",
        "tab": "2a23d1f375db2f69",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c593288f9e7f98f6",
        "type": "ui_tab",
        "name": "LiveCamera",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e88d242ff60dbeb",
        "type": "ui_group",
        "name": "Log actions",
        "tab": "25a6749ce5d4e430",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bfaadd0a56cbec3d",
        "type": "remote-config",
        "name": "SmartDoorbell UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "15pzq7qia11vcff4pna7hui6sw2xzgfd1ged1906gyl7t4cumh6egbmhh06bx6xv",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "39646c7808ac168e",
        "type": "alexa-home-conf",
        "username": "francknk"
    },
    {
        "id": "b005df8d504ca366",
        "type": "alexa-remote-account",
        "name": "Franck Account",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.137.100",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "10",
        "alexaServiceHost": "alexa.amazon.com",
        "amazonPage": "amazon.ca",
        "acceptLanguage": "en-CA",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "e5016a089bfe3930",
        "type": "ui_spacer",
        "z": "c85c8003578c92e6",
        "name": "spacer",
        "group": "702ab0b5f76bbe7a",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ef18cf47b6b418fb",
        "type": "ui_spacer",
        "z": "c85c8003578c92e6",
        "name": "spacer",
        "group": "702ab0b5f76bbe7a",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "2560e2c03f783384",
        "type": "mqtt out",
        "z": "c85c8003578c92e6",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79fe84cfb68e37d5",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "2d9c1534104e360c",
        "type": "switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 1340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "56e5d86cbc5981d8",
        "type": "mqtt in",
        "z": "c85c8003578c92e6",
        "name": "",
        "topic": "enroll",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "79fe84cfb68e37d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 970,
        "y": 100,
        "wires": [
            [
                "e42398aa0311a569"
            ]
        ]
    },
    {
        "id": "a16530aed037f62b",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "Set message to display",
        "func": "msg.payload = \"Enrollement en cours...\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 140,
        "wires": [
            [
                "e42398aa0311a569"
            ]
        ]
    },
    {
        "id": "a683b716ea1eec73",
        "type": "debug",
        "z": "c85c8003578c92e6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "858c5444686be692",
        "type": "ui_button",
        "z": "c85c8003578c92e6",
        "name": "",
        "group": "30fe2fdb15b54ae3",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Scan Finger",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "enroll",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "a16530aed037f62b",
                "794a2f4abe8d7cf7"
            ]
        ]
    },
    {
        "id": "a6c578f2af4e5e66",
        "type": "ui_button",
        "z": "c85c8003578c92e6",
        "name": "",
        "group": "30fe2fdb15b54ae3",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Delete all fingers",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "clearfinger",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "794a2f4abe8d7cf7"
            ]
        ]
    },
    {
        "id": "54908942cee4986f",
        "type": "ui_switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "label": "Ring email alerts",
        "tooltip": "",
        "group": "702ab0b5f76bbe7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "email_on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "email_off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "794a2f4abe8d7cf7"
            ]
        ]
    },
    {
        "id": "e42398aa0311a569",
        "type": "ui_text",
        "z": "c85c8003578c92e6",
        "group": "30fe2fdb15b54ae3",
        "order": 4,
        "width": 6,
        "height": "2",
        "name": "",
        "label": "Information ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1230,
        "y": 140,
        "wires": []
    },
    {
        "id": "9916460a07e22838",
        "type": "ui_template",
        "z": "c85c8003578c92e6",
        "d": true,
        "group": "d61766583efd1c8e",
        "name": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <img src = \"http://192.168.1.179\" width=\"500\" height=\"500\"\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "05a6291fdd8044d1",
        "type": "postgresql",
        "z": "c85c8003578c92e6",
        "name": "Insert User",
        "query": "insert into my_users (name,email,register_date)\n\nvalues ($1, $2, now())",
        "postgreSQLConfig": "c07d094777037409",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1010,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "909e643485b4e102",
        "type": "ui_template",
        "z": "c85c8003578c92e6",
        "group": "d8ce519417b5cd60",
        "name": "User Info",
        "order": 1,
        "width": 6,
        "height": 4,
        "format": "<style>\n    .user-card {\n    border: 1px solid #ccc;\n    padding: 20px;\n    border-radius: 5px;\n    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);\n    max-width: 400px;\n    }\n    \n    .user-card img {\n    width: 100%;\n    max-width: 200px;\n    margin-bottom: 10px;\n    }\n    \n    .user-card h3 {\n    font-size: 24px;\n    margin: 0 0 10px;\n    }\n    \n    .user-card p {\n    font-size: 16px;\n    line-height: 1.5;\n    margin: 0 0 20px;\n    }\n    \n    .user-card ul {\n    list-style: none;\n    padding: 0;\n    margin: 0;\n    }\n    \n    .user-card ul li {\n    font-size: 16px;\n    line-height: 1.5;\n    margin-bottom: 5px;\n    }\n    \n    .user-card ul li strong {\n    font-weight: bold;\n    margin-right: 5px;\n    }\n</style>\n<script>\n    (function(scope) {\n    scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Do something when msg arrives\n      var date = msg.payload.register_date.split('T');\n      msg.payload.register_date = date[1].substring(0,8)  + \" le \" + date[0];\n\n    }\n  });\n})(scope);\n</script>\n\n<div class=\"user-card\">\n    <h3 class=\"user-name\">{{msg.payload.name}}</h3>\n    <ul class=\"user-details\">\n        <li><strong>Email : </strong> {{msg.payload.email}}</li>\n        <li><strong>Reg_date : </strong> {{msg.payload.register_date}}</li>\n    </ul>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "df4a802d8970dbcf",
        "type": "postgresql",
        "z": "c85c8003578c92e6",
        "name": "Get User",
        "query": "SELECT * FROM my_users;",
        "postgreSQLConfig": "c07d094777037409",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1000,
        "y": 640,
        "wires": [
            [
                "909e643485b4e102"
            ]
        ]
    },
    {
        "id": "3a3aa81223359edb",
        "type": "debug",
        "z": "c85c8003578c92e6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 380,
        "wires": []
    },
    {
        "id": "ef43d4f2fbb59818",
        "type": "ui_form",
        "z": "c85c8003578c92e6",
        "name": "",
        "label": "Update name and email",
        "group": "d8ce519417b5cd60",
        "order": 2,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "email": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 430,
        "y": 620,
        "wires": [
            [
                "c87c7da2c019e1e9",
                "f343a0e56d0cae3e"
            ]
        ]
    },
    {
        "id": "c87c7da2c019e1e9",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "Add params",
        "func": "var name = msg.payload.name;\nvar email = msg.payload.email;\nmsg.params = [name, email];\n\nmsg.action_name = \"Name and email updated\";\nmsg.auteur_action = \"Admin\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 700,
        "wires": [
            [
                "05a6291fdd8044d1",
                "87d73526d7e10490"
            ]
        ]
    },
    {
        "id": "cd41e882672c7799",
        "type": "inject",
        "z": "c85c8003578c92e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "enroll",
        "payloadType": "str",
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "086741b6a3c66c5e"
            ]
        ]
    },
    {
        "id": "30f69799dc59b641",
        "type": "remote-access",
        "z": "c85c8003578c92e6",
        "confignode": "bfaadd0a56cbec3d",
        "name": "Remot device",
        "verbose": 0,
        "x": 870,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "f343a0e56d0cae3e",
        "type": "delay",
        "z": "c85c8003578c92e6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 640,
        "wires": [
            [
                "df4a802d8970dbcf"
            ]
        ]
    },
    {
        "id": "1249240f9daf6dfb",
        "type": "e-mail",
        "z": "c85c8003578c92e6",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1210,
        "y": 580,
        "wires": []
    },
    {
        "id": "46917b4a6e1c9346",
        "type": "inject",
        "z": "c85c8003578c92e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ring",
        "payloadType": "global",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "a683b716ea1eec73"
            ]
        ]
    },
    {
        "id": "a47a7f054cab6a1c",
        "type": "ui_ui_control",
        "z": "c85c8003578c92e6",
        "name": "",
        "events": "connect",
        "x": 380,
        "y": 700,
        "wires": [
            [
                "f343a0e56d0cae3e"
            ]
        ]
    },
    {
        "id": "2347f15141e06b0d",
        "type": "change",
        "z": "c85c8003578c92e6",
        "name": "SocketIp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "SocketIp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1280,
        "wires": [
            [
                "8928af3bdc5aa467"
            ]
        ]
    },
    {
        "id": "8928af3bdc5aa467",
        "type": "ui_text",
        "z": "c85c8003578c92e6",
        "d": true,
        "group": "702ab0b5f76bbe7a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SocketIp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 580,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d13f3804a5237b0c",
        "type": "remote-notification",
        "z": "c85c8003578c92e6",
        "confignode": "bfaadd0a56cbec3d",
        "name": "",
        "notificationTitle": "payload.title",
        "notificationTitleType": "msg",
        "notificationBody": "payload.body",
        "notificationBodyType": "msg",
        "notificationSound": "default",
        "notificationSoundComputed": "payload.sound",
        "notificationSoundComputedType": "msg",
        "output": 1,
        "x": 770,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a317a256d2574a51",
        "type": "ui_switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "label": "Motion email alerts",
        "tooltip": "",
        "group": "702ab0b5f76bbe7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "motion_on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "motion_off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "794a2f4abe8d7cf7"
            ]
        ]
    },
    {
        "id": "794a2f4abe8d7cf7",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "Set Topic",
        "func": "if (msg.payload == \"clearfinger\" || msg.payload == \"enroll\"){\n    msg.topic = \"state/finger\";\n    // Configuration des paramètres de la requête pour stocker dans la base de données\n    msg.action_name = (msg.payload == \"clearfinger\") ? \"All fingers deleted\" : \"Finger enroll started\";\n    msg.auteur_action = \"Admin\";\n    \n}else if (msg.payload == \"motion_on\" || msg.payload == \"motion_off\"){\n    msg.topic = \"state/motion\";\n    let motion = (msg.payload == \"motion_on\") ? true : false;\n    global.set(\"motion\", motion);\n    // Configuration des paramètres de la requête pour stocker dans la base de données\n    msg.action_name = (msg.payload == \"motion_on\") ? \"Motion emails activated\" : \"Motion emails deactivated\";\n    msg.auteur_action = \"Device\";\n\n}else if (msg.payload == \"ring_on\" || msg.payload == \"ring_off\"){\n    msg.topic = \"state/ring\";\n    // Configuration des paramètres de la requête pour stocker dans la base de données\n    msg.action_name = (msg.payload == \"ring_on\") ? \"Ring song activated\" : \"Ring song deactivated\";\n    msg.auteur_action = \"Admin\";\n\n}else if (msg.payload == \"door_on\" || msg.payload == \"door_off\"){\n    msg.topic = \"state/door\";\n    // Configuration des paramètres de la requête pour stocker dans la base de données\n    msg.action_name = (msg.payload == \"door_on\") ? \"Door opened\" : \"Door closed\";\n    msg.auteur_action = \"Admin\";\n    \n} else if (msg.payload == \"email_on\" || msg.payload == \"email_off\"){\n    msg.topic = \"state/email\";\n    let ring = (msg.payload == \"email_on\") ? true : false;\n    global.set(\"ring\", ring);\n    msg.action_name = (msg.payload == \"email_on\") ? \"Ring email notifications activated\" : \"Ring email notifications deactivated\";\n    msg.auteur_action = \"Admin\";\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "2560e2c03f783384",
                "2db8770afee653f3"
            ]
        ]
    },
    {
        "id": "3e8f832adb9e22cc",
        "type": "ui_template",
        "z": "c85c8003578c92e6",
        "group": "124fd84eaf0f984d",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "\n\n<style>\n\n    .container {\n        display: block;\n        background-color: #f2f2f2;\n        border: 1px solid #ccc;\n        padding: 20px;\n    }\n    button:hover {\n    background-color: #3e8e41;\n    }\n\n    button:active {\n    background-color: #3e8e41;\n    box-shadow: 0 2px #666;\n    transform: translateY(2px);\n    }\n    .hide {\n        display: none;\n    }\n\n    button {\n        background-color: #4CAF50;\n        border: none;\n        color: white;\n        padding: 15px 32px;\n        text-align: center;\n        text-decoration: none;\n        display: inline-block;\n        font-size: 16px;\n        margin-top: 20px;\n        cursor: pointer;\n    }\n</style>\n\n    <div class=\"container\">\n        <!-- <button  onclick=\"toggle()\">Masquer/Afficher</button>\n        <p>Cliquez sur le bouton ci-dessous pour masquer/afficher la section :</p> !-->\n        <div id=\"myDiv\">\n            <p><img src = \"http://192.168.1.180/\" width=\"535\" height=\"450\"></p>\n        </div>\n        \n    </div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 20,
        "wires": [
            [
                "09c5cc4156a3bb2c"
            ]
        ]
    },
    {
        "id": "6e29599bd3c4f2ce",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "function 1",
        "func": "msg.to = msg.payload.email;\nmsg.topic = \"Notice\";\nmsg.payload = \"Courriel envoyé !\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "90a3269c37501ea2"
            ]
        ]
    },
    {
        "id": "531b23be4938470d",
        "type": "ui_button",
        "z": "c85c8003578c92e6",
        "name": "",
        "group": "124fd84eaf0f984d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Back to Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "bde0ab41f4a3acd5"
            ]
        ]
    },
    {
        "id": "bde0ab41f4a3acd5",
        "type": "change",
        "z": "c85c8003578c92e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Settings\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 80,
        "wires": [
            [
                "c0853e3b31a3a2dc"
            ]
        ]
    },
    {
        "id": "c0853e3b31a3a2dc",
        "type": "ui_ui_control",
        "z": "c85c8003578c92e6",
        "name": "",
        "events": "all",
        "x": 1220,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "09c5cc4156a3bb2c",
        "type": "change",
        "z": "c85c8003578c92e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"LiveCamera\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 20,
        "wires": [
            [
                "df2a0c6fc94f44e3"
            ]
        ]
    },
    {
        "id": "df2a0c6fc94f44e3",
        "type": "ui_ui_control",
        "z": "c85c8003578c92e6",
        "name": "",
        "events": "all",
        "x": 1220,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "2724322f130debba",
        "type": "ui_button",
        "z": "c85c8003578c92e6",
        "name": "",
        "group": "702ab0b5f76bbe7a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Live Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 20,
        "wires": [
            [
                "3e8f832adb9e22cc"
            ]
        ]
    },
    {
        "id": "ae63001b0d02c085",
        "type": "mqtt in",
        "z": "c85c8003578c92e6",
        "name": "",
        "topic": "value/motion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "79fe84cfb68e37d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "8fb61193837ca0c0"
            ]
        ]
    },
    {
        "id": "3a618e78fe984bf5",
        "type": "postgresql",
        "z": "c85c8003578c92e6",
        "name": "Email from DB",
        "query": "SELECT email FROM my_users;",
        "postgreSQLConfig": "c07d094777037409",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 700,
        "y": 560,
        "wires": [
            [
                "6e29599bd3c4f2ce",
                "37617617d0b0da6f"
            ]
        ]
    },
    {
        "id": "90a3269c37501ea2",
        "type": "ui_toast",
        "z": "c85c8003578c92e6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1250,
        "y": 520,
        "wires": []
    },
    {
        "id": "c39dbb7651a5de89",
        "type": "ui_button",
        "z": "c85c8003578c92e6",
        "name": "",
        "group": "702ab0b5f76bbe7a",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Test email",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "enroll",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "3a618e78fe984bf5"
            ]
        ]
    },
    {
        "id": "2db8770afee653f3",
        "type": "link out",
        "z": "c85c8003578c92e6",
        "name": "Actions Out",
        "mode": "link",
        "links": [
            "5603406bd3825e58"
        ],
        "x": 905,
        "y": 180,
        "wires": []
    },
    {
        "id": "49140de42ac47116",
        "type": "ui_switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "label": "Door opened",
        "tooltip": "",
        "group": "702ab0b5f76bbe7a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "door_on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "door_off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "794a2f4abe8d7cf7"
            ]
        ]
    },
    {
        "id": "c934634964ee12e1",
        "type": "mqtt in",
        "z": "c85c8003578c92e6",
        "name": "",
        "topic": "update/features",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "79fe84cfb68e37d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "3e2ee09aa2f38c25",
                "2d6ac883ec27cf84"
            ]
        ]
    },
    {
        "id": "37617617d0b0da6f",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "function 2",
        "func": "msg.to = msg.payload.email;\nmsg.topic = \"Alert\";\nmsg.payload = \"<h1>Couriel de test !</h1>\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 580,
        "wires": [
            [
                "1249240f9daf6dfb"
            ]
        ]
    },
    {
        "id": "87d73526d7e10490",
        "type": "link out",
        "z": "c85c8003578c92e6",
        "name": "Actions Out",
        "mode": "link",
        "links": [
            "5603406bd3825e58"
        ],
        "x": 955,
        "y": 780,
        "wires": []
    },
    {
        "id": "3e2ee09aa2f38c25",
        "type": "switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "door",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "motion",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ring",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "email",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "49140de42ac47116"
            ],
            [
                "a317a256d2574a51"
            ],
            [
                "7c26bac27140712f"
            ],
            [
                "54908942cee4986f"
            ]
        ]
    },
    {
        "id": "2d6ac883ec27cf84",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "Set Global feature state",
        "func": "if(msg.payload == \"start\"){\n    global.set(\"motion\", false);\n    global.set(\"ring\", false);\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "7c26bac27140712f",
        "type": "ui_switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "label": "Ring song alerts",
        "tooltip": "",
        "group": "702ab0b5f76bbe7a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ring_on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "ring_off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "794a2f4abe8d7cf7"
            ]
        ]
    },
    {
        "id": "086741b6a3c66c5e",
        "type": "mqtt out",
        "z": "c85c8003578c92e6",
        "name": "",
        "topic": "state/motion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "79fe84cfb68e37d5",
        "x": 590,
        "y": 1440,
        "wires": []
    },
    {
        "id": "3b02187d231a5e39",
        "type": "switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "property": "motion",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 900,
        "wires": [
            [
                "81f3063755deeaf4"
            ]
        ]
    },
    {
        "id": "ddc815a61907527b",
        "type": "switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "property": "ring",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 960,
        "wires": [
            [
                "e427f58adeaa7772"
            ]
        ]
    },
    {
        "id": "f76cb5d4a49fe9b8",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "Set motion email",
        "func": "msg.to = msg.payload.email;\nmsg.topic = \"Motion detected\";\nmsg.payload = \"Someone's near the door, be carefull and watch out...\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 880,
        "wires": [
            [
                "1b18e39ed7befe11"
            ]
        ]
    },
    {
        "id": "a9c947ad79f8632c",
        "type": "postgresql",
        "z": "c85c8003578c92e6",
        "name": "Email from DB",
        "query": "SELECT email FROM my_users;",
        "postgreSQLConfig": "c07d094777037409",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 840,
        "y": 880,
        "wires": [
            [
                "f76cb5d4a49fe9b8"
            ]
        ]
    },
    {
        "id": "1b18e39ed7befe11",
        "type": "e-mail",
        "z": "c85c8003578c92e6",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1270,
        "y": 880,
        "wires": []
    },
    {
        "id": "bc0fc0dcba23e1ff",
        "type": "postgresql",
        "z": "c85c8003578c92e6",
        "name": "Email from DB",
        "query": "SELECT email FROM my_users;",
        "postgreSQLConfig": "c07d094777037409",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 840,
        "y": 940,
        "wires": [
            [
                "bebc82161e63d0ff"
            ]
        ]
    },
    {
        "id": "bebc82161e63d0ff",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "Set ring email",
        "func": "msg.to = msg.payload.email;\nmsg.topic = \"Someone rings the doorbell\";\nmsg.payload = \"Personne détectée devant votre porte...\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 940,
        "wires": [
            [
                "8502c06817694499"
            ]
        ]
    },
    {
        "id": "8502c06817694499",
        "type": "e-mail",
        "z": "c85c8003578c92e6",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1270,
        "y": 940,
        "wires": []
    },
    {
        "id": "8de6d25f7a8569e5",
        "type": "inject",
        "z": "c85c8003578c92e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "get",
        "payloadType": "str",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "8fb61193837ca0c0"
            ]
        ]
    },
    {
        "id": "8fb61193837ca0c0",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "function 4",
        "func": "msg.ring = global.get(\"ring\");\nmsg.motion = global.get(\"motion\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 940,
        "wires": [
            [
                "b01baceb75d4b433",
                "5b20f9475d414b06"
            ]
        ]
    },
    {
        "id": "8ffa2e3e533d9836",
        "type": "trigger",
        "z": "c85c8003578c92e6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 1000,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9c30276b3b7dd3f9",
        "type": "inject",
        "z": "c85c8003578c92e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "8ffa2e3e533d9836"
            ]
        ]
    },
    {
        "id": "81f3063755deeaf4",
        "type": "trigger",
        "z": "c85c8003578c92e6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 660,
        "y": 860,
        "wires": [
            [
                "a9c947ad79f8632c"
            ],
            []
        ]
    },
    {
        "id": "e427f58adeaa7772",
        "type": "trigger",
        "z": "c85c8003578c92e6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 680,
        "y": 1000,
        "wires": [
            [
                "bc0fc0dcba23e1ff"
            ],
            []
        ]
    },
    {
        "id": "b01baceb75d4b433",
        "type": "switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "motion",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "3b02187d231a5e39"
            ]
        ]
    },
    {
        "id": "5b20f9475d414b06",
        "type": "switch",
        "z": "c85c8003578c92e6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ring",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 960,
        "wires": [
            [
                "ddc815a61907527b"
            ]
        ]
    },
    {
        "id": "143d5a2cd668c066",
        "type": "link in",
        "z": "c85c8003578c92e6",
        "name": "Alexa In",
        "links": [
            "817f09dd9d9a240d"
        ],
        "x": 125,
        "y": 160,
        "wires": [
            [
                "3e2ee09aa2f38c25"
            ]
        ]
    },
    {
        "id": "cb9be7630983b13c",
        "type": "ui_numeric",
        "z": "c85c8003578c92e6",
        "d": true,
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "30fe2fdb15b54ae3",
        "order": 5,
        "width": 6,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 580,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "4b52792931ba4285",
        "type": "inject",
        "z": "c85c8003578c92e6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "NB Empreintes saved",
        "payload": "10",
        "payloadType": "str",
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "cb9be7630983b13c",
                "78bb6e707daa96c8",
                "b57224640384c5ed"
            ]
        ]
    },
    {
        "id": "78bb6e707daa96c8",
        "type": "ui_template",
        "z": "c85c8003578c92e6",
        "group": "30fe2fdb15b54ae3",
        "name": "Fingers number",
        "order": 1,
        "width": 6,
        "height": "3",
        "format": "<style>\n    .user-card {\n    border: 1px solid #ccc;\n    padding: 20px;\n    border-radius: 5px;\n    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);\n    max-width: 400px;\n    }\n    \n    .user-card img {\n    width: 100%;\n    max-width: 200px;\n    margin-bottom: 10px;\n    }\n    \n    .user-card h3 {\n    font-size: 24px;\n    margin: 0 0 10px;\n    }\n    \n    .user-card p {\n    font-size: 16px;\n    line-height: 1.5;\n    margin: 0 0 20px;\n    }\n    .user-details {\n    font-size: 20px;\n    }\n    \n    .user-card ul {\n    list-style: none;\n    padding: 0;\n    margin: 0;\n    }\n    \n    .user-card ul li {\n    font-size: 16px;\n    line-height: 1.5;\n    margin-bottom: 5px;\n    }\n    \n    .user-card ul li strong {\n    font-weight: bold;\n    margin-right: 5px;\n    }\n</style>\n\n<div class=\"user-card\">\n    <center><h3 class=\"user-name\">Fingerprints saved</h3></center>\n    <center class=\"user-details\">\n        <strong>{{msg.payload}} </strong> fingers\n    </center>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "b57224640384c5ed",
        "type": "ui_text",
        "z": "c85c8003578c92e6",
        "group": "30fe2fdb15b54ae3",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a8560845538a5ed6",
        "type": "mqtt in",
        "z": "c85c8003578c92e6",
        "name": "",
        "topic": "fingers/number",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "79fe84cfb68e37d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "78bb6e707daa96c8"
            ]
        ]
    },
    {
        "id": "40f1d63ec9c0828a",
        "type": "ui_ui_control",
        "z": "c85c8003578c92e6",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 280,
        "wires": [
            [
                "6b8a08c5553440b2"
            ]
        ]
    },
    {
        "id": "6b8a08c5553440b2",
        "type": "function",
        "z": "c85c8003578c92e6",
        "name": "function 6",
        "func": "msg.payload = \"Rien pour l'instant\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 280,
        "wires": [
            [
                "e42398aa0311a569"
            ]
        ]
    },
    {
        "id": "426c1b886e3ddee4",
        "type": "comment",
        "z": "c85c8003578c92e6",
        "name": "",
        "info": "Reception de l'état de mise à jour des \nnotifications pour la détection de\n mouvenemnt ou de sonnerie ",
        "x": 180,
        "y": 800,
        "wires": []
    },
    {
        "id": "2c88bcd79fe1c7c5",
        "type": "comment",
        "z": "c85c8003578c92e6",
        "name": "",
        "info": "Entrée des données provenant des commandes\nd'Amazon Alexa",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "6ca45329c67d470f",
        "type": "comment",
        "z": "c85c8003578c92e6",
        "name": "",
        "info": "Topic permettant de traiter les informations \nsur le dashboard. Mise à jour des états des switchs\net par la suite traitement par une fonction\nintermédiare puis stockage dans la base de données",
        "x": 140,
        "y": 460,
        "wires": []
    },
    {
        "id": "3ace486dbd06fb09",
        "type": "comment",
        "z": "c85c8003578c92e6",
        "name": "",
        "info": "Les actions sont envoyées dans un autre \nflow pour stockage dans la base de données",
        "x": 980,
        "y": 180,
        "wires": []
    },
    {
        "id": "75bea453bd0b7835",
        "type": "comment",
        "z": "c85c8003578c92e6",
        "name": "",
        "info": "Topic pour recevoir les actions faites par \nla sonnette et les afficher sur le dashboard",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "06ade40407624fdd",
        "type": "comment",
        "z": "c85c8003578c92e6",
        "name": "",
        "info": "Bouton pour tester l'envoi de l'email à\nl'utilisateur admin de la sonnette",
        "x": 240,
        "y": 560,
        "wires": []
    },
    {
        "id": "4ab9112007deca3f",
        "type": "comment",
        "z": "c85c8003578c92e6",
        "name": "",
        "info": "Mise à jour des informations de l'user admin\ndans la base de données",
        "x": 260,
        "y": 620,
        "wires": []
    },
    {
        "id": "71a97de79675cc6e",
        "type": "alexa-home",
        "z": "b389d227e32c6bfb",
        "conf": "39646c7808ac168e",
        "device": "197111",
        "acknoledge": true,
        "name": "Doorbell",
        "topic": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "d3bf002f69e1e301",
                "e75263589fa433ec"
            ]
        ]
    },
    {
        "id": "4a0be078265e6d71",
        "type": "alexa-home",
        "z": "b389d227e32c6bfb",
        "conf": "39646c7808ac168e",
        "device": "197117",
        "acknoledge": true,
        "name": "Ring",
        "topic": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "d3bf002f69e1e301",
                "e75263589fa433ec"
            ]
        ]
    },
    {
        "id": "dc10b74bc4d821d7",
        "type": "alexa-home",
        "z": "b389d227e32c6bfb",
        "conf": "39646c7808ac168e",
        "device": "197115",
        "acknoledge": true,
        "name": "Ring Alerts",
        "topic": "",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "d3bf002f69e1e301",
                "e75263589fa433ec"
            ]
        ]
    },
    {
        "id": "a3eca235ef1c6eed",
        "type": "alexa-home",
        "z": "b389d227e32c6bfb",
        "conf": "39646c7808ac168e",
        "device": "197116",
        "acknoledge": true,
        "name": "Door Motion Alert",
        "topic": "",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "d3bf002f69e1e301",
                "e75263589fa433ec"
            ]
        ]
    },
    {
        "id": "d3bf002f69e1e301",
        "type": "debug",
        "z": "b389d227e32c6bfb",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "817f09dd9d9a240d",
        "type": "link out",
        "z": "b389d227e32c6bfb",
        "name": "Alexa Out",
        "mode": "link",
        "links": [
            "143d5a2cd668c066"
        ],
        "x": 735,
        "y": 160,
        "wires": []
    },
    {
        "id": "e75263589fa433ec",
        "type": "function",
        "z": "b389d227e32c6bfb",
        "name": "function 5",
        "func": "if(msg.name == \"Doorbell\"){\n    msg.payload = (msg.payload) ? \"door_on\" : \"door_off\";\n}\nif (msg.name == \"Ring Alerts\") {\n    msg.payload = (msg.payload) ? \"email_on\" : \"email_off\";\n}\nif (msg.name == \"Ring\") {\n    msg.payload = (msg.payload) ? \"ring_on\" : \"ring_off\";\n}\nif (msg.name == \"Door Motion Alert\") {\n    msg.payload = (msg.payload) ? \"motion_on\" : \"motion_off\";\n}\n\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "817f09dd9d9a240d"
            ],
            []
        ]
    },
    {
        "id": "19fc720150eaee30",
        "type": "alexa-remote-init",
        "z": "b389d227e32c6bfb",
        "name": "Init",
        "account": "b005df8d504ca366",
        "option": "initialise",
        "x": 230,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b926b62960dbb2b4",
        "type": "alexa-remote-event",
        "z": "b389d227e32c6bfb",
        "name": "",
        "account": "b005df8d504ca366",
        "event": "ws-device-activity",
        "x": 270,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "afbfb654229a142b",
        "type": "alexa-remote-smarthome",
        "z": "b389d227e32c6bfb",
        "name": "",
        "account": "b005df8d504ca366",
        "config": {
            "option": "action",
            "value": [
                {
                    "entity": "0136a504-fa42-4de9-a32a-be3934799e73",
                    "action": "turnOff"
                }
            ]
        },
        "outputs": 1,
        "x": 280,
        "y": 620,
        "wires": [
            [
                "fd7bc8829062984d",
                "0a81a056083a295a"
            ]
        ]
    },
    {
        "id": "fd7bc8829062984d",
        "type": "alexa-remote-routine",
        "z": "b389d227e32c6bfb",
        "name": "",
        "account": "b005df8d504ca366",
        "routineNode": {
            "type": "speak",
            "payload": {
                "type": "ssml",
                "text": {
                    "type": "ssml",
                    "value": "Porte fermée"
                },
                "devices": [
                    "G090XG1002051K9A"
                ]
            }
        },
        "x": 600,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0a81a056083a295a",
        "type": "debug",
        "z": "b389d227e32c6bfb",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "5603406bd3825e58",
        "type": "link in",
        "z": "3468f95594a76fb5",
        "name": "Actions In",
        "links": [
            "2db8770afee653f3",
            "87d73526d7e10490"
        ],
        "x": 165,
        "y": 260,
        "wires": [
            [
                "afed3706510d29ed",
                "1d8e33de4a958fe6"
            ]
        ]
    },
    {
        "id": "3662c13d201a10fe",
        "type": "ui_table",
        "z": "3468f95594a76fb5",
        "group": "9e88d242ff60dbeb",
        "name": "Log",
        "order": 2,
        "width": 10,
        "height": 8,
        "columns": [
            {
                "field": "action_name",
                "title": "Action",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "date_action",
                "title": "Date",
                "width": "35%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "auteur_action",
                "title": "Author",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1170,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "505765bc71513328",
        "type": "debug",
        "z": "3468f95594a76fb5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "d8f627d71384ba9f",
        "type": "postgresql",
        "z": "3468f95594a76fb5",
        "name": "Insert User",
        "query": "insert into \"log\" (action_name,auteur_action,date_action)\n\nvalues ($1, $2, now())",
        "postgreSQLConfig": "c07d094777037409",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 750,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "afed3706510d29ed",
        "type": "function",
        "z": "3468f95594a76fb5",
        "name": "Add params",
        "func": "\nmsg.params = [msg.action_name, msg.auteur_action];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "d8f627d71384ba9f"
            ]
        ]
    },
    {
        "id": "a69666d8810ee249",
        "type": "ui_ui_control",
        "z": "3468f95594a76fb5",
        "name": "",
        "events": "connect",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "86125a0aec959a9a"
            ]
        ]
    },
    {
        "id": "86125a0aec959a9a",
        "type": "postgresql",
        "z": "3468f95594a76fb5",
        "name": "Get log data",
        "query": "select * from log order by date_action desc",
        "postgreSQLConfig": "c07d094777037409",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "d824082137c3e559"
            ]
        ]
    },
    {
        "id": "1d8e33de4a958fe6",
        "type": "delay",
        "z": "3468f95594a76fb5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "f2a6190b6225abd3"
            ]
        ]
    },
    {
        "id": "f2a6190b6225abd3",
        "type": "change",
        "z": "3468f95594a76fb5",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "params",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "86125a0aec959a9a"
            ]
        ]
    },
    {
        "id": "d824082137c3e559",
        "type": "function",
        "z": "3468f95594a76fb5",
        "name": "change date format",
        "func": "if(msg.payload.length == 0)\n    return msg;\n\nvar date = new Date((msg.payload[0].date_action));\n\nvar day = (\"0\" + date.getDate()).slice(-2); // ajouter un zéro devant le jour si nécessaire\nvar month = (\"0\" + (date.getMonth() + 1)).slice(-2); // ajouter un zéro devant le mois si nécessaire\nvar year = date.getFullYear(); // obtenir l'année\nvar hours = (\"0\" + date.getHours()).slice(-2); // ajouter un zéro devant les heures si nécessaire\nvar minutes = (\"0\" + date.getMinutes()).slice(-2); // ajouter un zéro devant les minutes si nécessaire\nvar seconds = (\"0\" + date.getSeconds()).slice(-2); // ajouter un zéro devant les secondes si nécessaire\n\nvar dateFormatted = day + \"/\" + month + \"/\" + year + \" \" + hours + \":\" + minutes + \":\" + seconds; // formater la date et l'heure dans le format souhaité\n\nfor (let index = 0; index < msg.payload.length; index++) {\n    var date = new Date((msg.payload[index].date_action));\n\n    var day = (\"0\" + date.getDate()).slice(-2); // ajouter un zéro devant le jour si nécessaire\n    var month = (\"0\" + (date.getMonth() + 1)).slice(-2); // ajouter un zéro devant le mois si nécessaire\n    var year = date.getFullYear(); // obtenir l'année\n    var hours = (\"0\" + date.getHours()).slice(-2); // ajouter un zéro devant les heures si nécessaire\n    var minutes = (\"0\" + date.getMinutes()).slice(-2); // ajouter un zéro devant les minutes si nécessaire\n    var seconds = (\"0\" + date.getSeconds()).slice(-2); // ajouter un zéro devant les secondes si nécessaire\n\n    var dateFormatted = \"Le \" + day + \"/\" + month + \"/\" + year + \" à \" + hours + \":\" + minutes + \":\" + seconds; // formater la date et l'heure dans le format souhaité\n    msg.payload[index].date_action = dateFormatted;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment"
            }
        ],
        "x": 890,
        "y": 120,
        "wires": [
            [
                "3662c13d201a10fe"
            ]
        ]
    },
    {
        "id": "7b72eb895bd0e743",
        "type": "ui_button",
        "z": "3468f95594a76fb5",
        "name": "",
        "group": "9e88d242ff60dbeb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete all logs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "delete",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "3d34fa6f7fb22969"
            ]
        ]
    },
    {
        "id": "3d34fa6f7fb22969",
        "type": "postgresql",
        "z": "3468f95594a76fb5",
        "name": "Delete logs",
        "query": "delete from log",
        "postgreSQLConfig": "c07d094777037409",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "6e3ad336749a5d01",
                "c322903d47b5365d"
            ]
        ]
    },
    {
        "id": "6e3ad336749a5d01",
        "type": "delay",
        "z": "3468f95594a76fb5",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 200,
        "wires": [
            [
                "86125a0aec959a9a"
            ]
        ]
    },
    {
        "id": "c322903d47b5365d",
        "type": "function",
        "z": "3468f95594a76fb5",
        "name": "function 3",
        "func": "\nmsg.topic = \"Notification\";\nmsg.payload = \"All log deleted succefully...\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 280,
        "wires": [
            [
                "7cf1c56a0a05cbd2"
            ]
        ]
    },
    {
        "id": "7cf1c56a0a05cbd2",
        "type": "ui_toast",
        "z": "3468f95594a76fb5",
        "position": "top right",
        "displayTime": "3",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1190,
        "y": 280,
        "wires": []
    },
    {
        "id": "146621db7f77c288",
        "type": "link in",
        "z": "3b0dc19f6d83de1d",
        "name": "Control In",
        "links": [
            "d1444e58018d1acf",
            "b4d188f88c6ac618",
            "e4aa0f21f5629672",
            "a7e2e61a1efd53e9",
            "90bb6e31357da1bc"
        ],
        "x": 185,
        "y": 100,
        "wires": [
            [
                "a83600909d61c828"
            ]
        ]
    },
    {
        "id": "a83600909d61c828",
        "type": "ui_ui_control",
        "z": "3b0dc19f6d83de1d",
        "name": "",
        "events": "all",
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7caf8abd34f0d96f",
        "type": "ui_ui_control",
        "z": "3b0dc19f6d83de1d",
        "name": "",
        "events": "all",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "fc629ab61d1b545b"
            ]
        ]
    },
    {
        "id": "fc629ab61d1b545b",
        "type": "change",
        "z": "3b0dc19f6d83de1d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Dashboard_Data\",\"Dashboard_Row\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "a83600909d61c828"
            ]
        ]
    }
]